.intro {
  height: 100vh;
}

.project {
  @extend .outer;
  position: relative;
  display: block;
  height: 600px; // dev
}

.thumb--home {
  background: $lght;

  .thumb__inner {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
  }
}

