html {
  box-sizing: border-box;
  background: $clr;
}

html,
body {
  min-height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  background: $lght; 
}

main,footer {
  @extend %wrapp;
}