// dev in general

[id="barba-wrapper"] {
  min-height: 100%;
  overflow: auto;
}

.barba-container {
  min-height: 100vh;
  overflow: auto;

  display: flex;

}

header {
  nav {
    // transform: rotate(90deg);
  }
}

main {
  display: flex;

  .center {
    align-self: center;
    padding: 60px;
  }
}