html {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  background: pink;
}

[id="barba-wrapper"] {
  min-height: 100%;
  overflow: auto;
}

.barba-container {
  min-height: 100vh;
  overflow: auto;
}

.home {
  background: #fff;
  color: #000;
}

.about {
  background: #000;
  color: #fff;
}