nav {
  position: relative;

  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
  }

  li {
    // display: inline;
  }

  a {
    color: inherit;
    text-decoration: none;
    display: inline-block;

    padding: 10px 20px;
  }

  .act {
    position: relative;

    &:after {
      content: "";
      height: 2px;
      width: 100%;
      position: absolute;
      left: 0;
      top: 50%;
      margin-top: -1px;
      background: #fff;
    }
  }
}